<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="JavaBasicProgram.PalimdromeString"/>
      <class name="JavaBasicProgram.StarSideTrangle"/>
      <class name="JavaBasicProgram.CheckPrimeNumber"/>
      <class name="JavaBasicProgram.PalimdromeNumberUsingStringBuilder"/>
      <class name="JavaBasicProgram.CheckEvenOdd"/>
      <class name="JavaBasicProgram.FindOccuranceUsingLoops"/>
      <class name="JavaBasicProgram.PalimdromeNumberUsingMath"/>
      <class name="JavaBasicProgram.StarTrangle"/>
      <class name="JavaBasicProgram.FindOccuranceUsingMap"/>
      <class name="JavaBasicProgram.StarDiamond"/>
      <class name="JavaBasicProgram.CalculateCompoundInterest"/>
      <class name="JavaBasicProgram.CheckArmstrongNumber"/>
      <class name="JavaBasicProgram.NumberDiamond"/>
      <class name="JavaBasicProgram.ReverseString"/>
      <class name="JavaBasicProgram.CheckLeapYear"/>
      <class name="JavaBasicProgram.CheckVowalConsonant"/>
      <class name="JavaBasicProgram.ReverseNumber"/>
      <class name="JavaBasicProgram.AddBinaryyNumber"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
